.wrapper {
  min-height: 100vh;
  padding: 1.5rem;
}

.title {
  width: 40%;
  height: 1.3rem;
  margin-bottom: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.card {
  height: 5rem;
}

.large {
  height: 14rem;
}